/*custom font*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);
/*basic reset*/

body {
	font-family: "Myriad Pro", sans-serif;
}

h1 {
	text-align: center;
	font-weight: lighter;
}

h2 {
	text-align: center;
	font-weight: lighter;
}

h3 {
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: lighter;
	vertical-align: top;
}

p {
	color: black;
}

.topnav {
	top: 0px;
	left: 0px;
	padding-top: 0px;
	padding-left: 10px;
	background-color: #333333;
	overflow: hidden;
	position: fixed;
	width: 100%;
	line-height: 50px;
}

.topnav a {
	height: 50px;
	float: left;
	display: block;
	padding: 0px 20px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}

.topnav a:hover, a.active:hover {
	height: 50px;
	color: black;
}

.topnav a.active {
	height: 50px;
	background-color: #333;
	color: black;
}

.profile {
	padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	vertical-align: middle;
}

.main-content {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	font-size: 12px;
}

#map {
	width: 900px;
	height: 600px;
	border: 1px solid silver;
	background: #E6E6E6;
}

ul {
	list-style: none;
	margin: 5px 20px;
}

li {
	margin: 10px 0;
}

.YlGnBu .q0-12 {
	fill: rgb(220, 236, 201)
}

.YlGnBu .q1-12 {
	fill: rgb(179, 221, 204)
}

.YlGnBu .q2-12 {
	fill: rgb(138, 205, 206)
}

.YlGnBu .q3-12 {
	fill: rgb(98, 190, 210)
}

.YlGnBu .q4-12 {
	fill: rgb(70, 170, 206)
}

.YlGnBu .q5-12 {
	fill: rgb(61, 145, 190)
}

.YlGnBu .q6-12 {
	fill: rgb(53, 119, 174)
}

.YlGnBu .q7-12 {
	fill: rgb(45, 94, 158)
}

.YlGnBu .q8-12 {
	fill: rgb(36, 68, 142)
}

.YlGnBu .q9-12 {
	fill: rgb(28, 43, 127)
}

.YlGnBu .q10-12 {
	fill: rgb(22, 32, 101)
}

.YlGnBu .q11-12 {
	fill: rgb(17, 23, 75)
}

g.features {
	stroke: #d8d8d8;
	stroke-width: 0.5;
}

g.features path:hover {
	opacity: 0.7;
}

.tooltip {
	font-weight: bold;
	padding: 0.5rem;
	border: 1px solid silver;
	color: #222;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px #a6a6a6;
	opacity: 0.9;
	position: absolute;
  }

.hidden {
	display: none;
}